<mat-card class="pagecard">
  <mat-card-content *ngIf="!studyService.isStudyActive()">
    <span class="mat-h2">Recently Visited Projects</span>
    <mat-divider></mat-divider>
    <mat-grid-list [cols]="4" rowHeight="4:1" *ngIf="visits?.length > 0">
      <mat-grid-tile *ngFor="let v of visits">
        <div style="width:100%; height: 100%;">
          <a [routerLink]="v.routerUrl" class="projectlink"><span class="mat-h2">{{v.courseName}}
            /{{v.projectName}}</span></a>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
    <div *ngIf="visits?.length < 1">
      <div class="mat-h3">
        Quite empty here... look out for courses on the left - and if there are none,
        <a
          [attr.href]="isStudyFinished() ? ['/courses'] : null">
          create one now
        </a>!
      </div>
    </div>
  </mat-card-content>

  <mat-card-content *ngIf="studyService.isStudyActive()">
    <span class="mat-h2">Welcome To The SEEance Evaluation Study!</span>
    <mat-divider></mat-divider>
    <p class="mat-h3">Have a look to the right, you can find study instructions within the green chat window!</p>
  </mat-card-content>
</mat-card>
