<app-header></app-header>
<div id="app-body">
  <mat-sidenav-container stlye="display:flex;flex-direction:row;height:100%;">

    <mat-sidenav mode="side" opened style="width:256px;" *ngIf="authenticatedUser">
      <app-navbar></app-navbar>
    </mat-sidenav>
    <mat-sidenav-content style="height:100%">
      <div class="content">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
<app-study-feedback *ngIf="authenticatedUser"></app-study-feedback>

