  <div style="width:100%; height: 100%;display:flex;">
    <span class="button-overlay">
      <button class="settings-button" mat-icon-button aria-label="Settings Icon" [routerLink]="[
              '/courses', model?.analysis.assignedCourse,
              'projects', model?.analysis.assignedProject,
              'analyses', model?.analysis._id,
              'configure']" *ngIf="model?.html && hasSettings">
        <mat-icon [id]="'settings.'+model?.analysis.assignedProject">settings</mat-icon>
      </button>
      <button class="settings-button" mat-icon-button aria-label="Settings Icon" *ngIf="model?.html && hasDescription" (click)="showInfo()">
        <mat-icon [id]="'info.'+model?.analysis.assignedProject">info</mat-icon>
      </button>
      <button class="settings-button" mat-icon-button aria-label="Settings Icon" *ngIf="model?.html" [routerLink]="[
              'analyses', model?.analysis._id]">
        <mat-icon [id]="'detail.'+model?.analysis.assignedProject">visibility</mat-icon>
      </button>
    </span>
    <span class="center">
                <iframe
                  [id]="model.analysis._id+'_'+model.analysis.template.name"
                  [hidden]="!model.html"
                  #iframe
                  style="top:32px;position:relative;width: 100%; height: 100%;" ></iframe>
                <span *ngIf="!model.html && !model.isTimedOut">
                  <span style="width:100%; display: flex; justify-content: center">
                    <mat-spinner style="align-self: center" class="load-spinner"></mat-spinner>
                  </span>
                  <span class="mat-h2">Loading Analysis, please be patient...</span>
                </span>
                <span *ngIf="!model.html && model.isTimedOut" style="padding:64px;">
                  <h2 class="mat-h2">Request timed out!</h2>
                  <h3 class="mat-h3">Maybe our system is overloaded, or the repo you are scanning is too big?</h3>
                  <span style="display: flex; justify-content: center">
                    <button mat-flat-button (click)="requestReload()" color="primary">Try Reloading</button>
                  </span>
                </span>
            </span>
  </div>
