<h1 class="mat-h1">
  Thanks for participating!
</h1>
<p>In case you want to use SEEance at your institution: SEEance platform will be published Open Source on Github. If you
want to stay posted, just <a href="mailto:felix1.riedl@stud.uni-regensburg.de">drop me a line</a></p>

<img src="https://i.giphy.com/media/3oz8xIsloV7zOmt81G/giphy.webp">
<p>Source: giphy, <a href="https://i.giphy.com/media/3oz8xIsloV7zOmt81G/giphy.webp">https://i.giphy.com/media/3oz8xIsloV7zOmt81G/giphy.webp</a></p>

<br>

<button mat-flat-button color="warn" (click)="finish()">Finish and Remove Account</button>
