  <div style="width:100%; height: 100%;display:flex;">
    <button class="settings-button" mat-icon-button aria-label="Settings Icon" [routerLink]="[
            '/courses', model?.analysis.assignedCourse,
            'projects', model?.analysis.assignedProject,
            'analyses', model?.analysis._id,
            'configure']" *ngIf="model?.html">
      <mat-icon>settings</mat-icon>
    </button>
    <button class="settings-button" mat-icon-button aria-label="Settings Icon" *ngIf="model?.html" (click)="showInfo()">
      <mat-icon>info</mat-icon>
    </button>
    <span class="center">
                <iframe
                  *ngIf="model.html"
                  #iframe
                  style="top:32px;position:relative;width: 100%; height: 100%;" ></iframe>
                <span *ngIf="!model.html">
                  <span style="width:100%; display: flex; justify-content: center">
                    <mat-spinner style="align-self: center" class="load-spinner"></mat-spinner>
                  </span>
                  <span class="mat-h2">Loading Analysis, please be patient...</span>
                </span>
            </span>
  </div>
