<form [formGroup]="courseForm">
  <mat-form-field>
    <mat-label>Name</mat-label>
    <input matInput type="text" formControlName="title" required>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Description</mat-label>
    <textarea matInput formControlName="description"></textarea>
  </mat-form-field>

  <div class="row">
    <button (click)="delete()" [disabled]="!courseForm.valid" mat-flat-button color="error"  *ngIf="model?._id">Delete</button>
    <button (click)="save()" [disabled]="!courseForm.valid" mat-flat-button color="primary">{{action}}</button>
  </div>
</form>
