<h1 class="mat-h1">
  Welcome to our evaluation study!
</h1>

<p>
  This study aims for understanding, how potential users interact with this prototype and whether it can help them
  give better feedback in typical scenarios of supervising software engineering student projects.
</p>

<p>
  You will be presented a sequence of seven small tasks. Please solve these tasks using the information offered on this
  platform. You may exit the study at any given time, but please take notice, that a complete run of this study may
  produce the most reliable results.
</p>

<p><b>
  The following study requires anonymized recording of relevant interaction events:
</b></p>

<mat-list>
  <mat-list-item>
    <mat-icon mat-list-icon>timeline</mat-icon>
    <b>navigation paths and dwell times</b>
  </mat-list-item>
  <mat-list-item>
    <mat-icon mat-list-icon>list_alt</mat-icon>
    <b>evaluation system interaction</b>
  </mat-list-item>
  <mat-list-item>
    <mat-icon mat-list-icon>dns</mat-icon>
    <b>system events</b>
  </mat-list-item>
  <mat-list-item>
    <mat-icon mat-list-icon>mouse</mat-icon>
    <b>click and hover events</b>
  </mat-list-item>
  <mat-list-item>
    <mat-icon mat-list-icon>schedule</mat-icon>
    <b>event timestamps</b>
  </mat-list-item>
</mat-list>

<p>
  If you have any doubts later on, you may request deletion of your generated data. Simply send a mail to
  <a href="mailto:felix1.riedl@stud.uni-regensburg.de">Felix Riedl</a>
</p>

<p><b>
  By clicking the BEGIN-button, you agree on the logging and submission of the previously mentioned events and
  start the study.
</b></p>

<span class="study-action-bar">
  <button mat-flat-button (click)="proceed()">
    Begin
  </button>
</span>
