<div class="column">
  <!-- float right taken from https://stackoverflow.com/questions/36182635/making-a-flex-item-float-right/36182782 -->
  <div class="row">
    <span class="fill-remaining-space"></span>
    <a mat-flat-button color="primary"
       [disabled]="!isStudyFinished()"
       [routerLink]="isStudyFinished() ? ['/courses'] : ['#']"
       id="navbar_addcourse">Create
      Course</a>
  </div>

  <mat-divider></mat-divider>

  <span id="navcontents">
      <app-nav-course-list id="navlist" [courses]="courses" *ngIf="courses?.length > 0"></app-nav-course-list>
  <div class="mat-h3" *ngIf="courses?.length < 1">
    No courses (yet).
    <br>
    <a [routerLink]="['courses']">Create one now!</a>
  </div>
  </span>

</div>


