:host {
  position: fixed;
  bottom: 0px;
  right: 0px;
  background-color: white;
  border: solid 1px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  width: 500px;
  z-index: 1;
}

#study-feedback-title {
  font-size: 20px;
  color: white;
  position: relative;
}

#study-feedback-header {
  background-color: #36B552;
  padding:16px;
  display: flex;
  justify-content: space-between;
  color: white;
  font-size: 20px;
  cursor: pointer;
}

#study-feedback-body {
  font-size: 16px;
  position: relative;
  display: block;
  padding:16px;
}

mat-icon {
  position: relative;
}

::ng-deep .mat-flat-button {
  background-color: #36B552;
  color: white;
}
