<span id="study-feedback-header">
  <span id="study-feedback-title">
    Evaluation Study
  </span>
  <button mat-icon-button id="study-feedback-close-button"
          (click)="toggle()"
          *ngIf="isExpanded"><mat-icon>minimize</mat-icon></button>
  <button mat-icon-button id="study-feedback-open-button"
          (click)="toggle()"
          *ngIf="!isExpanded"><mat-icon>maximize</mat-icon></button>
</span>
<span id="study-feedback-body" *ngIf="isExpanded">
  <app-study-start *ngIf="state==='start'"></app-study-start>
  <app-demographics *ngIf="state==='demographics'"></app-demographics>
</span>
