<span id="study-feedback-header"  (click)="toggle()">
  <span id="study-feedback-title">
    Evaluation Study
  </span>
  <mat-icon *ngIf="isExpanded">minimize</mat-icon>
  <mat-icon *ngIf="!isExpanded">maximize</mat-icon>
</span>
<span id="study-feedback-body" *ngIf="isExpanded">
  <app-study-start *ngIf="state==='start'"></app-study-start>
  <app-demographics *ngIf="state==='demographics'"></app-demographics>
  <app-ueq *ngIf="state==='ueq'"></app-ueq>
  <app-misc-notes *ngIf="state==='notes'"></app-misc-notes>
  <app-thanks *ngIf="state==='thanks'"></app-thanks>
</span>
