<span id="study-feedback-header"  (click)="toggle()">
  <span id="study-feedback-title">
    SEEance Evaluation Study
  </span>
  <mat-icon *ngIf="isExpanded && !isStudyFinished">minimize</mat-icon>
  <mat-icon *ngIf="!isExpanded && !isStudyFinished">maximize</mat-icon>
</span>
<span id="study-feedback-body" [hidden]="!isExpanded">
  <span id="study-feedback-body-content">
    <app-study-start [hidden]="state!=='start'"></app-study-start>
    <app-demographics [hidden]="state!=='demographics'"></app-demographics>
    <app-ueq [hidden]="!state?.includes('ueq')"></app-ueq>
    <app-misc-notes [hidden]="state!=='notes'"></app-misc-notes>
    <app-thanks [hidden]="state!=='thanks'"></app-thanks>

    <app-task1-1 [hidden]="!state.includes('1x1') || state.includes('ueq')"></app-task1-1>
    <app-task2x1 [hidden]="!state.includes('2x1') || state.includes('ueq')"></app-task2x1>
    <app-task2x2 [hidden]="!state.includes('2x2') || state.includes('ueq')"></app-task2x2>
    <app-task3x1 [hidden]="!state.includes('3x1') || state.includes('ueq')"></app-task3x1>
    <app-task3x2 [hidden]="!state.includes('3x2') || state.includes('ueq')"></app-task3x2>
    <app-task4x1 [hidden]="!state.includes('4x1') || state.includes('ueq')"></app-task4x1>
    <app-task4x2 [hidden]="!state.includes('4x2') || state.includes('ueq')"></app-task4x2>
  </span>
</span>
