<mat-card class="pagecard">
  <mat-card-content>
    <span class="mat-h2">
      <a [routerLink]="['/courses', activeCourse?._id]">
        {{activeCourse?.title}}</a>/
      <a [attr.href]="activeProject?.repository.html_url">{{activeProject?.repository.owner.login}}/{{activeProject?.repository.name}}</a>
      </span>
    <mat-tab-group>
      <mat-tab label="General">
        <br>
        <span class="mat-h3">On this page, you can inspect the analyses for this project.</span>
        <br>
        <br>
        <mat-divider></mat-divider>
        <mat-grid-list [cols]="2" rowHeight="1:1">
          <mat-grid-tile *ngFor="let v of tiles">
            <div style="width:100%; height: 100%;">
              <button class="settings-button" mat-icon-button aria-label="Settings Icon" [routerLink]="[
            '/courses', v.analysis.assignedCourse,
            'projects', v.analysis.assignedProject,
            'analyses', v.analysis._id,
            'configure']" *ngIf="v.html">
                <mat-icon>settings</mat-icon>
              </button>
              <span class="center">
                <iframe *ngIf="v.html" [srcdoc]="v.html|allowRaw" style="width: 100%; height: 100%;"></iframe>
                <span *ngIf="!v.html">
                  <span style="width:100%; display: flex; justify-content: center">
                    <mat-spinner style="align-self: center" class="load-spinner"></mat-spinner>
                  </span>
                  <span class="mat-h2">Loading Analysis, please be patient...</span>
                </span>
            </span>
            </div>
          </mat-grid-tile>
        </mat-grid-list>

        <br>
      </mat-tab>
      <mat-tab label="Settings">
        <br>
        <span class="mat-h3 page-description">Set up the analysis pipeline for this project here.</span>
        <br>
        <br>
        <mat-divider></mat-divider>
        <br>
        <app-analysis-list
          [analyses]="analyses"
          [courseId]="activeCourse?._id"
          [projectId]="activeProject?._id"
          (onDelete)="removeAnalysis($event)"
        ></app-analysis-list>
        <button mat-button color="primary" (click)="addAnalysis()">Add Analysis</button>

        <mat-divider></mat-divider>
        <br>
        <app-preprocessor-list
          [preprocessors]="preprocessors"
          [courseId]="activeCourse?._id"
          [projectId]="activeProject?._id"
          (onDelete)="removePreprocessor($event)"
        ></app-preprocessor-list>
        <button mat-button color="primary" (click)="addPreprocessor()">Add Preprocessor</button>

      </mat-tab>
    </mat-tab-group>
  </mat-card-content>
</mat-card>
