<mat-card class="pagecard">

  <mat-card-title>
    <span class="mat-h2">
      <a *ngIf="activeCourse" [routerLink]="['/courses', activeCourse?._id]">{{activeCourse?.title}}</a>/
      {{activeProject?.repository.owner.login}}/{{activeProject?.repository.name}}
      </span>
    <span style="float:right;font-size:16px;">
      <a [attr.href]="activeProject?.repository.html_url" >
        <mat-icon style="position:relative;top:8px;">link</mat-icon> repository
      </a>
    </span>
  </mat-card-title>

  <mat-divider></mat-divider>

  <mat-card-content>

    <mat-tab-group>
      <mat-tab label="Overview">
        <span class="mat-h3" *ngIf="tiles?.length < 1">
          Nothing to see here... for now. Go on and <a (click)="addAnalysis()" [routerLink]="">add an analysis</a>!
        </span>
        <mat-grid-list [cols]="2" rowHeight="1:1">
          <mat-grid-tile *ngFor="let v of tiles">
            <app-analysis-tile [model]="v" (onReloadRequested)="reloadAnalysis(v.analysis._id)"></app-analysis-tile>
          </mat-grid-tile>
        </mat-grid-list>

        <br>
      </mat-tab>
      <mat-tab label="Analyses & Preprocessors">
        <br>
        <span class="mat-h3 page-description">Configure the analysis pipeline for this project here.</span>
        <br>
        <br>
        <mat-divider></mat-divider>
        <br>
        <app-analysis-list
          [analyses]="analyses"
          [courseId]="activeCourse?._id"
          [projectId]="activeProject?._id"
          (onDelete)="removeAnalysis($event)"
        ></app-analysis-list>
        <button mat-button color="primary" (click)="addAnalysis()" [disabled]="!isStudyFinished()">Add Analysis</button>

        <mat-divider></mat-divider>
        <br>
        <app-preprocessor-list
          [preprocessors]="preprocessors"
          [courseId]="activeCourse?._id"
          [projectId]="activeProject?._id"
          (onDelete)="removePreprocessor($event)"
        ></app-preprocessor-list>
        <button mat-button color="primary" (click)="addPreprocessor()" [disabled]="!isStudyFinished()">Add Preprocessor</button>

      </mat-tab>
    </mat-tab-group>
  </mat-card-content>
</mat-card>
