<mat-card>
  <mat-card-content>
    <span class="mat-h2">
      <a [routerLink]="['/courses', (activeCourse|async)?._id]">
        {{(activeCourse|async)?.title}}</a>/
      <a [attr.href]="(activeProject|async)?.repository.html_url">{{(activeProject|async)?.repository.name}}</a>
      </span>
    <mat-tab-group>
      <mat-tab label="General">
        <br>
        <h4 class="mat-h4">Here, you can change the general settings of your course, or delete it.</h4>
        <mat-divider></mat-divider>
        <br>
        blubb
      </mat-tab>
      <mat-tab label="Settings">
        <br>
        <h4 class="mat-h4">Set up the analysis pipeline for this project here.</h4>
        <mat-divider></mat-divider>
        <br>
        <button mat-button color="primary" (click)="addAnalysis()">Add Analysis</button>
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>
</mat-card>
