.study-action-bar {
  justify-content: flex-end;
  display: flex;
}

mat-form-field {
  width: 100%;
}

.mul_choice_item {
  display: flex;
  justify-content: space-evenly;
}

.mul_choice_item > p {
  position: relative;
  top: -16px;
  width:110px;
}

mat-radio-group {
  margin-top: 16px;
}
