.content {
  background-color: #eee;
  padding:16px;
  height: calc(100% - 64px);
}

mat-sidenav-container {
  display: flex;
  flex-flow: column;
  /*Subtract height of header*/
  height: calc(100% - 64px);
}

column {
  display: flex;
  flex-flow: column;
}

row {
  width: 100%;
  display: flex;
  flex-flow: row;
}
