<div class="wrapper">
  <div id="cta">
    <p class="heading-title">Dive <span class="shiftdown">deeper</span> into your students' software projects</p>
    <p class="subheading-title"><i>SEEance</i> offers you insights into working processes within educational software projects on github.</p>
    <br>
    <div id="btn-container">
      <a mat-raised-button href="/login/github" color="primary" class="cta-button">
        <span>Login/Register via Github</span>
        <mat-icon>person</mat-icon>
      </a>
    </div>
  </div>
</div>
