<h1 class="mat-h1">Task Sharing
  ({{study.getNumberOfAbsolvedTasks()+1}}/{{study.getNumberOfTotalTasks()}})</h1>
<p>
  <i>
    The course concept of Software Engineering II encourages student groups to distribute their development effort and
    determine members responsible for certain aspects or modules of the project.
  </i>
</p>

<p>
  Please verify, whether team <b>{{projectName}}</b> has effectively separated their project portions efforts among their members.
</p>

<span class="study-action-bar" *ngIf="study.state.getValue().includes('_reading')">
  <button mat-flat-button class="terminate-btn" (click)="cancel()">End Study</button>
  <button mat-flat-button (click)="startTask()"><span>Start Task</span></button>
</span>

<span *ngIf="!study.state.getValue().includes('_reading')">
  <p>1. Do you recognize indicators for the team having effectively distributed responsibilities among their members?</p>
  <mat-radio-group class="mul_choice_item"
                   [(ngModel)]="isSeparationOk"
                   [disabled]="!study.state.getValue().includes('_working')">
    <mat-radio-button value="yes">Yes</mat-radio-button>
    <mat-radio-button value="no">No</mat-radio-button>
    <mat-radio-button value="dontknow">Do not know</mat-radio-button>
  </mat-radio-group>

  <span *ngIf="study.state.getValue().includes('_working')">
    <br>
    <br>
    <span class="study-action-bar" >
      <button mat-flat-button class="terminate-btn" (click)="cancel()">End Study</button>
      <button mat-button (click)="skipTask()" color="warn"><span>Skip Task</span></button>
      <button mat-flat-button (click)="finishTask()"><span>Submit</span></button>
    </span>
  </span>

  <span *ngIf="study.state.getValue().includes('_questionnaire')">
    <p>2. Which indicators support this assumption?</p>
    <mat-form-field>
      <mat-label>Indicators for groups</mat-label>
      <textarea matInput [(ngModel)]="indicators"></textarea>
    </mat-form-field>

    <p>3. Which kind of intervention would you issue in reaction to those findings?</p>
    <mat-form-field>
      <mat-label>Intervention Measures</mat-label>
      <textarea matInput [(ngModel)]="intervention"></textarea>
    </mat-form-field>

    <p>4. How has SEEance helped you identify these issues?</p>
    <mat-form-field>
      <mat-label>Helpful Features</mat-label>
      <textarea matInput [(ngModel)]="supportThroughTool"></textarea>
    </mat-form-field>

    <p>5. How would you have found out about these issues without this tool?</p>
    <mat-form-field>
      <mat-label>Alternative Indicators</mat-label>
      <textarea matInput [(ngModel)]="indicatorsWithoutTool"></textarea>
    </mat-form-field>

    <mat-label>6. Is proper task sharing a relevant issue within your own courses?</mat-label>
    <mat-radio-group class="mul_choice_item" [(ngModel)]="relevance">
      <p>not at all</p>
      <mat-radio-button value="1"></mat-radio-button>
      <mat-radio-button value="2"></mat-radio-button>
      <mat-radio-button value="3"></mat-radio-button>
      <mat-radio-button value="4"></mat-radio-button>
      <mat-radio-button value="5"></mat-radio-button>
      <p>highly relevant</p>
    </mat-radio-group>

    <br>

    <span class="study-action-bar">
      <button mat-flat-button class="terminate-btn" (click)="cancel()">
        End Study
      </button>
      <button mat-flat-button (click)="proceed()">
        Next
      </button>
    </span>
  </span>
</span>
