<h1 class="mat-h1">3.1 Task Sharing
  ({{study.getNumberOfAbsolvedTasks()+1}}/{{study.getNumberOfTotalTasks()}})</h1>
<p>
  <i>
    In the Multimedia Engineering Course, students have been instructed to parallelize their effort by assigning
    certain modules or tasks to one responsible member.
  </i>
</p>

<p>
  Please verify, whether team Y has effectively separated their project portions efforts among their members.
</p>

<p>1. Do you recognize indicators for team Y having effectively distributed responsibilities among their members?</p>
<mat-radio-group class="mul_choice_item" [(ngModel)]="isSeparationOk">
  <mat-radio-button value="yes">Yes</mat-radio-button>
  <mat-radio-button value="no">No</mat-radio-button>
  <mat-radio-button value="dontknow">Don't Know</mat-radio-button>
</mat-radio-group>

<p>2. Which indicators support this assumption?</p>
<mat-form-field>
  <mat-label>Indicators for groups</mat-label>
  <input matInput [(ngModel)]="indicators">
</mat-form-field>

<p>3. Which kind of intervention would you issue in reaction to those findings?</p>
<mat-form-field>
  <mat-label>Intervention Measures</mat-label>
  <input matInput [(ngModel)]="intervention">
</mat-form-field>

<p>4. How has SEEance helped you identify these issues?</p>
<mat-form-field>
  <mat-label>Helpful Features</mat-label>
  <input matInput [(ngModel)]="supportThroughTool">
</mat-form-field>

<p>5. How would you have found out about these issues without this tool?</p>
<mat-form-field>
  <mat-label>Alternative Indicators</mat-label>
  <input matInput [(ngModel)]="indicatorsWithoutTool">
</mat-form-field>

<br>

<span class="study-action-bar">
  <button mat-flat-button class="terminate-btn" (click)="cancel()">
    End Study
  </button>
  <button mat-flat-button (click)="proceed()">
    Submit
  </button>
</span>

