<mat-card>
  <mat-card-content>
    <span class="mat-h2">
      Profile Settings
      </span>
    <mat-tab-group>
      <mat-tab label="General">
        <br>
        <h4 class="mat-h4">Configure your profile, or delete your account on cogitate.</h4>
        <mat-divider></mat-divider>
        <br>
        <h4 class="mat-h4">Delete Account</h4>
        <button mat-flat-button color="warn" (click)="deleteAccount()">Delete Account...</button>
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>
</mat-card>
