<mat-card class="pagecard">
  <mat-card-title>
    <span class="mat-h2">{{(activeCourse|async)?.title}}</span>
  </mat-card-title>

  <mat-divider></mat-divider>



    <mat-tab-group>
      <mat-tab label="Projects">
        <mat-card-content>
          <br>
          <span class="mat-h3">Search and select a github repository to be added through the search bar below.</span>
          <mat-divider></mat-divider>
          <app-project-list
            [projects]="(projects|async)"
            (onDeleteProject)="onDeleteProject($event)"
          ></app-project-list>
          <app-repo-autocomplete style="width:100%" [hidden]="!isStudyFinished()"
                                 (repositorySelected)="onRepositorySelected($event)"></app-repo-autocomplete>
        </mat-card-content>
      </mat-tab>
      <mat-tab label="Collaborators" [disabled]="!isStudyFinished()">
        <br>
        <span class="mat-h3">Authorize other users to access this course.</span>
        <mat-divider></mat-divider>
        <br>
        <app-user-list [users]="(authorizees|async)" (delete)="onDeleteUser($event)"></app-user-list>
        <app-user-autocomplete
          style="width:100%"
          (userSelected)="onAddUser($event)"
        ></app-user-autocomplete>
      </mat-tab>
      <mat-tab label="Settings" [disabled]="!isStudyFinished()">
        <br>
        <span class="mat-h3">Here, you can change the general settings of your course, or delete it.</span>
        <mat-divider></mat-divider>
        <br>
        <app-course-editor [action]="'Save'" [model]="(activeCourse|async)"
                           (onSubmit)="onSaveCourse($event)" (onDelete)="onDeleteCourse($event)"></app-course-editor>
      </mat-tab>
    </mat-tab-group>
</mat-card>
