<mat-card>
  <mat-card-header>
    <mat-card-title>SEEance - Terms of Service</mat-card-title>
  </mat-card-header>

  <mat-divider></mat-divider>

  <mat-card-content>
    <div class="mat-h2">
      Purpose
    </div>
    <p class="mat-body">SEEance is a prototypical software repository analysis platform and framework developed by
      Felix Riedl at the University of Regensburg (2020). Its main goal is providing teachers of software engineering
      courses with valuable insights on their students' work by analysing and visualizing VCS-Repository data. These
      insights can be used for giving continuous feedback to students or as an early warning system indicating typical
      issues regarding teamwork or time management as well as bad coding practices.
    </p>
    <p><b>It is currently hosted for the sake of public evaluation at the University of Regensburg, Germany.</b></p>
    <p class="mat-body">The project's current stage is a functioning prototype, hence delivered <b>as is</b>. Use it at your own peril.</p>
    <br>
    <div class="mat-h2">
      What SEEance can do
    </div>
    <mat-list>
      <mat-list-item>
        <mat-icon mat-list-icon>bar_chart</mat-icon>
        provide easy access to typical VCS analysis metrics as described in related work</mat-list-item>
      <mat-list-item>
        <mat-icon mat-list-icon>scatter_plot</mat-icon>
        give hints on how to identify typical anomalies in your projects' analyses
      </mat-list-item>
      <mat-list-item>
        <mat-icon mat-list-icon>supervisor_account</mat-icon>
        <b>give an impulse to inspect supposed anomalies together with students</b>
      </mat-list-item>
    </mat-list>

    <br>

    <div class="mat-h2">
      What SEEance cannot do
    </div>
    <mat-list>
      <mat-list-item>
        <mat-icon mat-list-icon>not_interested</mat-icon>
        interpret the analysis results
      </mat-list-item>
      <mat-list-item>
        <mat-icon mat-list-icon>not_interested</mat-icon>
        lie a sufficient and reliable foundation for grading
      </mat-list-item>
      <mat-list-item>
        <mat-icon mat-list-icon>not_interested</mat-icon>
        replace direct communication with students
      </mat-list-item>
    </mat-list>

    <br>

    <div class="mat-h2">
      Participation in public user test
    </div>
    <p>
      SEEance is being hosted for public evaluation within an automated user test. While the test is active (signalled
      by the green chat box below) we are gathering interaction logs with SEEance.
    </p>

    <div class="mat-h3">
      Logged Interaction Events
    </div>
    <p>
      We will store this interaction events together with an anonymized ID. We will not be able to track back this
      ID to you.
    </p>
    <mat-list>
      <mat-list-item>
        <mat-icon mat-list-icon>timeline</mat-icon>
        navigation paths and dwell times within app
      </mat-list-item>
      <mat-list-item>
        <mat-icon mat-list-icon>list_alt</mat-icon>
        evaluation system interaction
      </mat-list-item>
      <mat-list-item>
        <mat-icon mat-list-icon>dns</mat-icon>
        system events
      </mat-list-item>
      <mat-list-item>
        <mat-icon mat-list-icon>mouse</mat-icon>
        click and hover events within app
      </mat-list-item>
      <mat-list-item>
        <mat-icon mat-list-icon>schedule</mat-icon>
        event timestamps
      </mat-list-item>
    </mat-list>

    <div class="mat-h3">
      Authentication via Github
    </div>

    <p>
      Since this application uses OAuth via Github, participation at the study will also access some data of your
      github profile. <b>This data will only be used system-internal and NOT BE SAVED WITHIN THE STUDY!</b>. Deleting
      your profile will purge all data related to your account.
    </p>

    <mat-list>
      <mat-list-item>
        <mat-icon mat-list-icon>perm_identity</mat-icon>
        public profile information
      </mat-list-item>
    </mat-list>


    <div class="mat-h3">
      Purpose of data collection
    </div>

    <p>
      All generated data within our study and its system will be stored on a server at the University of Regensburg.
    </p>
    <mat-list>
      <mat-list-item>
        <mat-icon mat-list-icon>science</mat-icon>
        data collected via this analysis will be exclusively used for scientific purposes
        (masters thesis of Felix Riedl as well as follow-up publications)</mat-list-item>
      <mat-list-item>
        <mat-icon mat-list-icon>unpublished</mat-icon>
        we will never publish repository analysis caches produced by SEEance and wipe all those caches
        after concluding our evaluation phase</mat-list-item>
      <mat-list-item>
        <mat-icon mat-list-icon>person</mat-icon>
        we will never publish personal information or information, that may be retraced to individual
        platform users</mat-list-item>
    </mat-list>
    <br>

    <p>
      <b>
        By clicking "Accept", you confirm having read and acknowledged the complete terms of service as described above
        and approving of all presented terms. Press "Decline", if you do not accept those terms.
      </b>
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="cancel()" *ngIf="!isSubmitting">Decline</button>
    <button mat-flat-button color="primary" (click)="register()" [disabled]="isSubmitting">
      <span *ngIf="!isSubmitting">Accept</span>
      <span *ngIf="isSubmitting">Creating Account...</span>
    </button>
  </mat-card-actions>
</mat-card>
