mat-card-content {
  margin: 0px 16px;
}

mat-card-actions {
  margin: 0px 16px;
}

mat-list-base {
  padding-top: 0px;
}

mat-card-actions {
  display: flex;
  justify-content: flex-end;
}
.mat-h3 {
  font-size: 18px;
  margin-top: 24px;
}

:host {
  display:flex;
  justify-content: center;
  padding:16px;
}

mat-card {
  max-width: 800px;
}

p {
  font-size: 16px;
}

mat-icon {
  margin-right: 16px;
  color: rgba(0, 0, 0, 0.5)
}
