<mat-toolbar color="primary">
  <span title>Cogitate</span>
  <span class="fill-remaining-space"></span>

  <a mat-button href="https://localhost/login/github"  *ngIf="!authenticatedUser">
    <span>Login/Register via Github</span>
    <mat-icon>person</mat-icon>
  </a>

  <button mat-button *ngIf="authenticatedUser" [matMenuTriggerFor]="appMenu">
    <span>Logged in as {{authenticatedUser?.login}}</span>
    <img [src]="authenticatedUser?.avatarImageUrl" class="round-profile-picture">
  </button>
  <mat-menu #appMenu="matMenu">
    <!--<button mat-menu-item routerLink="/user">Profile <mat-icon>person</mat-icon></button>-->
    <button mat-menu-item (click) ="logout()" >Logout <mat-icon>close</mat-icon></button>
  </mat-menu>
</mat-toolbar>
