.fill-remaining-space {
  /* This fills the remaining space, by using flexbox.
   Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}
mat-icon {
  padding-left: 10px;
}

.title-logo {
  text-decoration: none;
  color: white;
}

a > mat-icon {
  position: relative;
  top: 6px;
  margin-right: 8px;
}
