<h1 class="mat-h1">Further comments</h1>
<mat-form-field>
  <mat-label>Let us know your opinions on this system! What is good or bad, how can it be improved?</mat-label>
  <textarea matInput [(ngModel)]="notes"></textarea>
</mat-form-field>
<span class="study-action-bar">
  <button mat-flat-button
          (click)="proceed()"
          [disabled]="isSubmitting"
  >
    <span *ngIf="!isSubmitting">
      Submit
    </span>
    <span *ngIf="isSubmitting">
      Submitting...
    </span>
  </button>
</span>
